@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap");

html {
  font-family: "Bungee", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}
.break {
  flex-basis: 100%;
  height: 0;
}

h1 {
  text-align: center;
  font-size: 48px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(5, 75px);
  grid-template-columns: repeat(5, 75px);
  justify-content: center;
  align-content: center;
}

.box {
  background-color: rgb(230, 230, 230);
  color: rgba(0, 0, 0, 0);
  background-image: url("/background2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.player {
  background-image: url("/blob.gif"), url("/background3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(202, 157, 88);
}
.passed {
  background-image: url("/background3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#empty {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  font-family: "Bungee", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 10px;
}
